<div class="row">
  <div class="col-sm-12">
    <img [src]="recipe.imagePath"
         alt="{{ recipe.name }}"
         class="img-responsive"
         style="max-height:300px;">
  </div>
</div><hr/>
<!--<br/>-->
<div class="row">
  <div class="cols-xs-12">
        <h2> {{ recipe.name }} </h2>
  </div>
</div>


  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>

<div class="row">

  <!--<button type="button" class="btn btn-primary dropdown-toggle">Manage Reciepe-->
  <!--<span class="caret"></span></button>-->
  <div class="column">
    <button type="button" class="btn btn-primary" (click)=" onAddToShoppingList()">Add to Shopping List</button>
    <button type="button" class="btn btn-warning" (click)=" onEditRecipe()">Edit Reciepe</button>
    <button type="button" class="btn btn-danger">Delete Reciepe</button>
  </div>

</div><br/>

  <div class="row">
    <div class="col-xs-12">
      <h4>Ingredient Need: </h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient.name }} -- {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>


